In [7]:
from pathlib import Path
from utils import *
import pandas as pd
from datetime import datetime, date
import IPython

In [2]:
DFS=initialize()

reading ...
	 vente_hours.csv
	 affluence_generated.csv
	 mma_schedule_day.csv
	 meteo.csv
	 vente_jours.csv
	 nfl_schedule.csv
	 vente_jours_labor.csv
	 nhl_mtl_schedule_day.csv
	 nba_schedule_day.csv
	 nhl_schedule_day.csv

# visualize

In [16]:
visualizeEveryHead(DFS)

Date from 2023-08-09 00:00:00 to 2016-06-17 00:00:00

Date from 2023-08-01 00:00:00 to 2020-05-07 00:00:00

Date from 2024-04-30 00:00:00 to 2016-01-01 00:00:00

Date from 2023-08-05 23:30:00 to 2016-10-09 00:00:00

Date from 2024-04-30 00:00:00 to 2016-01-01 00:00:00

Date from 2024-04-30 00:00:00 to 2016-01-01 00:00:00

Date from 2024-04-30 00:00:00 to 2016-01-01 00:00:00

Date from 2023-08-01 00:00:00 to 2016-10-09 00:00:00

Date from 2024-04-30 00:00:00 to 2016-01-01 00:00:00

Date from 2023-08-22 23:00:00 to 2016-01-01 00:00:00